
@{
    ViewBag.Title = "Index";
}

@model  List<myproject.Models.Courses>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

        th:nth-child(even), td:nth-child(even) {
            background-color: #D6EEEE;
        }
</style>

<h2>Courses List</h2>
<table>
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Duration</th>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.CourseName</td>
            <td>@course.Description</td>
            <td>@course.Duration</td>
        </tr>
    }
</table>
