@{
    ViewBag.Title = "Contact us";
}

<link href="~/CSS/about.css" rel="stylesheet" />
<main aria-labelledby="title">
    <div class="contain">
        <h2 id="title">@ViewBag.Title</h2>
        <hr />

        <address>
            <div class="address-content">
                <div class="address-text">
                    <strong>
                        Great Learning<br />
                        Kochi, 685234<br />
                        Phone: 9875455850
                        </strong>
                </div>
                <div class="address-image">
                    <img src="https://d1m75rqqgidzqn.cloudfront.net/wp-data/2022/03/22181324/Great_Learning_Logo.jpg" alt="Great Learning" style="width: 300px; height: auto;">
                </div>
            </div>
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:support@glearning.com">support@glearning.com</a>
        </address>
    </div>

</main>
